# 1 Práctica supervivencia en el Titanic

## 1.1 Cargando los datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

## 1.2 Estudiamos los datos

In [4]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [6]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

## 1.3 Preprocesado

Primero haremos one hot enconding para el sexo (convertirla en una variable categórica)

In [18]:
def cambio_sexo(x):
    if x == "male":
        return 1
    else:
        return 0

In [19]:
print(cambio_sexo("male"))

1

In [21]:
df["Sex"] = df["Sex"].apply(cambio_sexo)
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,0,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,0,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,0,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,0,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,0,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,0,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,0,32.0,0,0,7.7500

Eliminamos los outliers (datos atípicos en Fare)

In [23]:
df = df[df["Fare"] < 200]
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,0,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,0,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,0,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,0,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,0,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,0,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,0,32.0,0,0,7.7500

Actualizamos los índices

In [25]:
df = df.reset_index(drop=True)

In [26]:
df.describe()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,867.000000,867.000000,867.0,867.000000,867.000000,867.000000,867.000000
mean,0.378316,2.335640,0.0,29.395813,0.520185,0.367935,26.607540
std,0.485247,0.822131,0.0,14.141065,1.103426,0.793761,29.395841
min,0.000000,1.000000,0.0,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.0,20.000000,0.000000,0.000000,7.895800
50%,0.000000,3.000000,0.0,28.000000,0.000000,0.000000,14.000000
75%,1.000000,3.000000,0.0,38.000000,1.000000,0.000000,30.000000
max,1.000000,3.000000,0.0,80.000000,8.000000,6.000000,164.866700

In [35]:
X = df[["Sex", "Age", "Fare"]].values
y = df["Survived"].values

## 1.4 Entrenamiento y Testeo

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [38]:
X_train.shape, X_test.shape

((606, 3), (261, 3))

## 1.5 Entrenamiento del modelo

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [46]:
print(model.predict([[0,5,100]])) # Mujer, edad de 5 años y que ha pagado 100 para entrar en el Titanic
print(model.predict_proba([[0,5,100]])) # Nos devuelve el IC

[1]
[[0.12733658 0.87266342]]

In [47]:
print(model.predict([[1, 45, 1]])) # Hombre, edad de 45 años y que ha pagado muy poco para entrar en el Titanic
print(model.predict_proba([[0,5,100]])) # Nos devuelve el IC

[0]
[[0.12733658 0.87266342]]

## 1.6 Evaluando el modelo

In [59]:
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix

In [63]:
y_predict = model.predict(X_test)
print(f"Precisión: {accuracy_score(y_predict, y_test)*100} %") # Predicciones correctas frente el total
print(f"Exactitud: {precision_score(y_predict, y_test)*100} %")

Precisión: 67.43295019157088 %
Exactitud: 31.914893617021278 %

In [57]:
confusion_matrix(y_predict, y_test)
"""
VP (146) - Pasajeros que sobrevivieron y el modelo predijo que sobrevivieron
FP (64) - Pasajeros que no sobrevivieron y el modelo predijo que sobrevivieron
FN (21) - Pasajeros que sobrevivieron y el modelo predijo que no sobrevivieron
VN (30) - Pasajeros que no sobrevivieron y el modelo predijo que no sobrevivieron
"""

array([[146,  64],
       [ 21,  30]], dtype=int64)